*{
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.App {
  text-align: center;
  margin: 0; 
}

body {
  margin: 0;
  background: rgb(123,3,204);
  background: linear-gradient(125deg, rgba(123,3,204,1) 20%, rgba(4,18,204,1) 50%, rgba(26,2,135,1) 100%);}