*{
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.App {
  text-align: center;
  margin: 0; 
}

body {
  margin: 0;
  background: rgb(123,3,204);
  background: linear-gradient(163deg, rgba(123,3,204,1) 22%, rgba(4,18,204,1) 67%, rgba(255,5,48,1) 100%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none
}