.contact {
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 15%;
}

.contact--h2 {
    font-size: 3em;
    color: whitesmoke;
}

.h2--strong {
    color: rgb(0, 255, 0);
    text-shadow: 3px 5px 10px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.136);
    font-weight: bold;
}
/* social media container */
.socialMedia {
    margin-top: 1rem;
}
.social--container {
    background-color: transparent;
    border: 2px rgba(255, 255, 255, 0.197) double;
    border-radius: 5px;
    width: 15%;
    color: whitesmoke;
    font-size: 1.3em;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.img--contact {
    height: 1.7rem;
    filter: invert(1); 
    margin-top:  .5rem;
    margin-bottom: .5rem;
}

.img--contact:hover {
    cursor: pointer;
    filter: invert(0);
}

/* form */
.form--container {
    display: block;
    padding: 1rem;
}

input {
    width: 60%;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-size: 1rem;
    padding: .5rem;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.197);
}

textarea {
    width: 60%;
    height: 7rem;
    font-size: 1rem;
    padding: .5rem;
    margin-top: 1rem;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.197);
}

::placeholder {
    color: rgb(155, 155, 155);
}

.form--button {
    width: 60%;
    margin: 1rem auto;
    padding: .7rem;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(0,255,0);
    font-weight: 700;
    cursor: pointer;
}

.form--button:hover {
    background-color: whitesmoke;
    color: rgb(0, 255, 0);
}

/* error message */
.error {
    font-weight: 500;
    margin-top: .5rem;
}

/* footer */
.footer--content {
    display: inline;
}
.hr--contact {
    filter: invert(0);
    margin-bottom: 0px;
    margin: 1rem auto;
    width: 97%;
}

.copyright--contact {
    font-size: .8rem;
    margin-right: 2rem;
    margin-left: 2%;
    margin-bottom: 1rem;
}

/* mobile view */
@media screen and (max-width: 425px) {
    .contact {
        text-align: center;
        margin-top: 45%;
    }
    
    .email {
        width: 100%;
    }
    .socialMedia {
        width: 100%;
        margin: 0px;
    }
    input,
    textarea,
    .form--button {
        width: 90%;
    }
}

@media screen and (max-width: 375px){
    .contact {
        margin-top: 55%;
    }
    input,
    textarea,
    .form--button {
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    .contact {
        margin-top: 45%;
    }
    input,
    textarea,
    .form--button {
        width: 99%;
    }
}