.contact {
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 15%;
}

.contact--h2 {
    font-size: 3em;
    color: whitesmoke;
}

.h2--strong {
    color: rgb(0, 255, 0);
    text-shadow: 3px 5px 10px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.136);
    font-weight: bold;
}

.contactCard {
    position: relative;
    flex-wrap: wrap;
}

.socialMedia  {
    background-color: transparent;
    width: 18em;
    height: 10em;
    padding-left: 1em;
    margin: auto;
    margin-bottom: 1em;
    color: whitesmoke;
    font-size: 1.3em;
}

.email {
    background-color: transparent;
    width: 18em;
    height: 5em;
    margin: 2em auto;
    display: flex;
    font-size: 1.4em;
    font-style: normal;
}

.p--contact {
    margin: auto;
    align-items: center;
    display: flex;
}
 
.li--contact {
    margin: 1.2em 1em;
    align-items: center;
    display: block;
}

.img--contact {
    height: 1.9em;
    margin-right: 1em;
    filter: invert(1); 
}

.img--contact:hover {
    cursor: pointer;
    filter: invert(0);
}

/* mobile view */
@media screen and (max-width: 425px) {
    .contact {
        text-align: center;
        margin-top: 45%;
    }
    
    .email {
        width: 100%;
    }
    .socialMedia {
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 375px){
    .contact {
        margin-top: 55%;
    }
}

@media screen and (max-width: 320px) {
    .contact {
        margin-top: 45%;
    }
}