.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.greeting {
    margin: 13% 10%;
    text-align: justify;
    line-height: 1.7rem;
}
.h1--greeting {
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
    animation: myAnim 6s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.h2--greeting {
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
    animation: myAnim2 2s ease 0s 1 normal forwards;
}
 .h2--span {
    margin-top: 2rem;
    
 }
 @keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
strong {
    color: rgb(0, 255, 0);
    font-style: italic;
    margin-left: .5rem;
}

.span--strong{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    color: rgb(0, 255, 0);
}
.span--strong:hover {
    color: whitesmoke;
}
span {
    font-size: 1.5rem;
    text-align: right;
    color: whitesmoke;
}
span:hover {
    color: rgb(0, 255, 0);
}


hr {
    filter: invert(.3);
}
.p--message {
    font-size: 1.2rem;
    text-align: center;
    background-color: yellow;
}

.buttons--home {
    display: none;
}



/*arrows*/
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 0px;
}

.arrows path {
	stroke: #fbfcfc;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 3s infinite;
	-webkit-animation: arrow 3s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*media queries*/

@media screen and (max-width: 768px) {
    .greeting {
        margin-top: 8rem;
    }
}
@media screen and (max-width: 425px) {
    .greeting {
    margin-top: 10rem;
    }
    .buttons--home {
        margin: .5em;
        text-align: center;
        display: block;
    }
    .home--buttons {
        margin: .5rem;
        padding: .7rem;
        color: white;
        background-color: transparent;
        border: 1px double white;
    }
    .home--buttons:hover {
        background-color: white;
        color: black;
    }
    
}

@media screen and (max-width: 320px) {
   #home {
        margin-bottom: 11rem;
    }
    .greeting {
        margin-top: 13rem;
    }
    
    .home--buttons {
        padding: .6rem;
    }
    
}