.projects {
    background-color: rgba(255, 255, 255, 0.209);
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding: 5% 0%;
    border-radius: 10px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
}

.spotify {
    background-color: rgba(245, 245, 245, 0.071);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 1em auto;
    position: relative;
    flex-wrap: wrap;
    width: 14em;
}

.lessonBook {
    background-color: rgba(245, 245, 245, 0.071);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 1em auto;
    position: relative;
    flex-wrap: wrap;
    width: 14em;
}

/*.discogs {
    background-color: rgba(245, 245, 245, 0.148);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 1em auto;
    position: relative;
    flex-wrap: wrap;
    width: 14em;
}*/

.p--spotify {
 margin-bottom: .5em;
}
.p--lessonBook,
.p--discogs {
    margin-bottom: .5em;
}

.img--placeholder {
    width: 12em;
    height: 6.5em;
    margin: auto;
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}
.details--div {
    width: 70%;
    margin: auto;
}
     
  .details--strong {
    font-weight: 700;
    color: whitesmoke;
    background-color: black;
    margin-right: 1rem;
    margin-left: 0px;
}

.lessonBook--strong {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-left: 0px;
}

.details--p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.button--group {
    margin-bottom: 5%;
    text-align: right;
}

.button--modal {
    font-size: 16px;
    color: whitesmoke;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    width: 6em;
    margin: .5em;
    padding: .3em;
    background-color: transparent;
    cursor: pointer;
}

.button--modal:hover {
    background-color: whitesmoke;
    color: #01424b;
    box-shadow: 3px 3px 25px #01424b93;
}
hr {
    margin: 3em 0em;   
    filter: invert(.4); 
}

@media screen and (max-width: 425px) {
    .spotify, 
    .lessonBook {
       width: 100%;
       text-align: center;
       justify-content: center;
       background-color: transparent;
    }
    .img--placeholder {
        width: 100%;
    }
    .details--div {
        margin-right: 10%;
        margin-left: 10%;
        width: 100%;
    }
    .button--modal {
        margin-top: 1.3em;
    }
}
@media screen and (max-width: 375px) {
    .projects {
        margin-top: 25%; 
        width: 100%;  
    }
}

@media screen and (max-width: 320px) {
    .projects {
        margin-top: 50%;
    }
    .button--modal {
        padding: .1em;
    }
}