*{
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.App {
  text-align: center;
  margin: 0;
  
}

body {
  margin: 0;
  background-image: url(images/codioful-formerly-gradienta-G084bO4wGDA-unsplash.jpg) ;
  background-size: cover;
}

/*
.App::-webkit-scrollbar {
  display: none;
}*/

.App-header {
  background-image: url(images/codioful-formerly-gradienta-G084bO4wGDA-unsplash.jpg) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}